.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home .video-content {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index:-1;
}

.home .video-content video{
  width: 100vw;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  font-size: 6rem;
  text-transform: uppercase;
  color:#fff;
}

.home .content p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding:1rem 0;
  color:#eee;
}

.carrousel .container{
  height:200px;
  width:200px;
  margin:100px auto;
  perspective: 1000px;
  position:relative;
}

.carrousel .container .slides{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  transform-style: preserve-3d;
  animation:animate 30s linear infinite;
}

@keyframes animate {
  from{
    transform:rotateY(0deg);
  }
  to{
    transform:rotateY(360deg);
  }
}

.carrousel .container:hover .slides{
  animation-play-state: paused;
}

.carrousel .container .slides > img{
  height:100%;
  width:100%;
  object-fit: cover;
  image-rendering:auto;
  position:absolute;
  box-shadow:0px 0px 5px gray;
}

.slides > img:nth-child(1){
  transform:rotateY(45deg) translateZ(270px);
}

.slides > img:nth-child(2){
  transform:rotateY(90deg) translateZ(270px);
}

.slides > img:nth-child(3){
  transform:rotateY(135deg) translateZ(270px);
}

.slides > img:nth-child(4){
  transform:rotateY(180deg) translateZ(270px);
}

.slides > img:nth-child(5){
  transform:rotateY(225deg) translateZ(270px);
}

.slides > img:nth-child(6){
  transform:rotateY(270deg) translateZ(270px);
}

.slides > img:nth-child(7){
  transform:rotateY(315deg) translateZ(270px);
}

.slides > img:nth-child(8){
  transform:rotateY(360deg) translateZ(270px);
}

.carrousel .container .slides > img:hover{
  transition:all .2s ease-in;
  cursor:pointer;
  box-shadow:0px 0px 10px white;
  bottom:20px;
  -webkit-box-reflect:below 25px linear-gradient(0deg, white 0%, transparent 20%);
}

.contact .row{
  display: flex;
  background:var(--black);
  flex-wrap: wrap;
  gap:1rem;
}

.contact .row .map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form{
  flex:1 1 45rem;
  padding:5rem 2rem;
  text-align: center;
}

.contact .row form h3{
  text-transform: uppercase;
  font-size: 3.5rem;
  color:#fff;
}

.contact .row form .inputBox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background:var(--bg);
  border:var(--border);
}

.contact .row form .inputBox span{
  color:#fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input{
  width: 100%;
  padding:2rem;
  font-size: 1.7rem;
  color:#fff;
  text-transform: none;
  background:none;
}
